.container {
  margin: 0px auto;
}

section {
  padding: 1.2rem;
}

section h3 {
  font-size: 2rem;
  margin-bottom: 24px;
  text-align: center;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo h1 {
  font-size: 3.3rem;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.logo img {
  height: 12vh;
}

nav {
  margin-bottom: 24px;
}

/*ABOUT*/

.about {
  border: 4px solid #f46036;
  margin: 44px 0px;
  padding: 24px 24px;
}

.about h3 {
  width: fit-content;
  margin: 0 auto;
  margin-top: -84px;
  background-color: white;
  padding: 12px 24px;
}

.about p {
  font-size: 1.2rem;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-text {
  width: 45%;
}

.about-img {
  width: 55%;
}

.about-img-mobile {
  display: none;
}

.about-img img {
  width: 100%;
  object-fit: cover;
}

/* SERVICES */

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}
.service-title {
  font-size: 1.4rem;
  padding: 10px 0px;
}

.service-description {
  font-size: 1.1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* GALLERY */

.gallery {
  padding: 44px 0px;
}
.before-after {
  display: flex;
  justify-content: space-between;
}

.before-after div {
  width: 48%;
}

.before-after img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.gallery-scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  margin-left: 0 auto;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); */
  scrollbar-width: thin; /* Firefox */
  background-color: #f1f0ef;
}

.gallery-scroll-container::-webkit-scrollbar {
  height: 20px;
}

.gallery-scroll-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.gallery-scroll-container img {
  height: 200px;
  margin-right: 20px;
}

.gallery-scroll-container img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

/* For screens with a maximum width of 798px (common mobile screen size) */
/* @media only screen and (max-width: 798px) {
  .container {
    margin: 0;
  }

  nav {
    display: none;
  }

  section {
    margin: 0;
    padding: 0;
  }

  .logo h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: xx-small;
  }

  .about {
    padding: 32px;
  }

  .about h3 {
    font-size: 1.4rem;
    text-align: center;
  }

  .about-text p {
    font-size: 0.8rem;
  }

  .about-img {
    display: none;
  }

  .about-img img {
    height: 50vh;
  }

  .services {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .gallery-scroll-container {
    flex-direction: column;
    overflow-x: hidden;
    padding: 10px;
  }

  .gallery-scroll-container img {
    height: 150px;
    margin-bottom: 10px;
  }
} */

@media only screen and (max-width: 480px) {
  .container {
    padding: 20px;
  }
  header {
    flex-direction: column;
  }

  nav {
    display: none;
  }

  section h3 {
    font-size: 1.4rem;
    padding-bottom: 10px;
    text-align: center;
  }

  .logo {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo h1 {
    font-size: 1rem;
    /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  }

  .logo img {
    height: 6vh;
  }

  .about {
    padding: 10px;
    border: none;
    margin: 0;
  }

  .about h3 {
    width: fit-content;
    margin: 0 auto;
  }

  .about-text {
    width: 100%;
  }

  .about-text p {
    font-size: 0.92rem;
  }

  .about-img {
    display: none;
  }

  .about-img-mobile {
    display: block;
  }

  .services {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .service-title {
    font-size: 0.8rem;
    padding: 10px;
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: 4px 4px 0 white;
  }

  .service-description {
    display: none;
  }

  .gallery {
    margin: 24px 0px 48px;
    padding: 0;

    /* border: 4px solid red; */
  }

  .gallery-scroll-container {
    height: 40vh;
  }

  .gallery-scroll-container img {
    height: 100%;
  }

  .before-after {
    display: none;
  }

  #contact {
    padding: 10px;
  }

  footer {
    font-size: 0.5rem;
  }
}
